.container-paper
  border-radius: 10px
  padding: 15px
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 10px
  background-color: rgb(176, 196, 222)
  width: calc(90px * 4)
  margin-bottom: 80px

.container-game
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 50px