.paper
  width: 80px
  height: 80px
  display: flex
  justify-content: center
  align-items: center
  background-color: black
  cursor: pointer

  &.flippedTemp
    background-color: #ffe082

  &.flippedSucc
    background-color: #c5e1a5

  &.flippedFailed
    background-color: #e57373

  &.disabled
    cursor: default